.svn/*
application/logs/*
application/cache/*
# application/config/database.php
# application/config/config.phps
uploads/*
backups/*
application/config/club.php
application/config/database..php
application/config/config.php
application/config/dx_auth..php
application/config/google..php
application/config/program..php
application/config/database.php
application/config/dx_auth.php
application/config/program.php
application/config/google.php
setenv.sh
results/*
captcha/*
.htaccess
application/third_party/phpqrcode/cache/*
autobackup.sh
.vscode/launch.json
