<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="application/tests/minimal_bootstrap.php"
         colors="true"
         verbose="true">
    <testsuites>
		<testsuite name="WorkingTests">
			<directory>application/tests/unit/helpers</directory>
			<directory>application/tests/unit/models</directory>
			<directory>application/tests/unit/libraries</directory>
			<directory>application/tests/unit/i18n</directory>
			<directory>application/tests/controllers</directory>
			<!-- Exclude UrlHelperTest - it has its own config (phpunit_url_helper.xml) -->
			<exclude>application/tests/unit/helpers/UrlHelperTest.php</exclude>
		</testsuite>
	</testsuites>
	<php>
		<const name="PHPUNIT_TEST" value="1" />
		<const name="PHPUNIT_CHARSET" value="UTF-8" />
		<server name="REMOTE_ADDR" value="0.0.0.0" />
		<env name="XDEBUG_MODE" value="coverage"/>
	</php>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">application</directory>
			<exclude>
				<directory suffix=".php">system</directory>
				<directory suffix=".php">application/third_party</directory>
				<directory suffix=".php">application/views</directory>
				<directory suffix=".php">application/tests</directory>
				<!-- Exclude controllers with method signature issues -->
				<file>application/controllers/achats.php</file>
				<file>application/controllers/vols_planeur.php</file>
				<file>application/controllers/vols_avion.php</file>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<log type="junit" target="build/logs/junit.xml"/>
		<log type="testdox-text" target="build/logs/testdox.txt"/>
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
	</logging>
</phpunit>