<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="application/tests/minimal_bootstrap.php"
         colors="true"
         verbose="true">
    <testsuites>
		<testsuite name="WorkingTests">
			<directory>application/tests/helpers</directory>
			<directory>application/tests/models</directory>
			<directory>application/tests/libraries</directory>
			<exclude>application/tests/helpers/AssetsHelperTest.php</exclude>
			<exclude>application/tests/helpers/FormElementsHelperTest.php</exclude>
			<exclude>application/tests/helpers/CsvHelperTest.php</exclude>
			<exclude>application/tests/libraries/WidgetLibraryTest.php</exclude>
			<exclude>application/tests/libraries/ButtonLibraryTest.php</exclude>
			<exclude>application/tests/libraries/LogLibraryTest.php</exclude>
		</testsuite>
	</testsuites>
	<logging>
		<log type="junit" target="build/logs/junit.xml"/>
		<log type="testdox-text" target="build/logs/testdox.txt"/>
	</logging>
	<php>
		<const name="PHPUNIT_TEST" value="1" />
		<const name="PHPUNIT_CHARSET" value="UTF-8" />
		<server name="REMOTE_ADDR" value="0.0.0.0" />
	</php>
	<filter>
		<whitelist>
			<directory suffix=".php">application</directory>
			<exclude>
				<directory suffix=".php">system</directory>
				<!--directory suffix=".php">application/libraries</directory-->
			</exclude>
		</whitelist>
	</filter>
</phpunit>