/*
 * Stylesheet pour GVV
 * 
 * Cette feuille de style ne devrait gérer que l'aspect graphique de GVV.
 * Le positionnement est géré par layout.css.
 
 */

header {

	background: url(../images/header_left.gif) no-repeat left,
		url(../images/header_right.gif) no-repeat right,
		url(../images/header.png);

	height: 75px;
	margin: 0;
	padding: 0;
}


@media only screen and (max-width: 576px) {

	/* bootstrap extra small devices */
	header {
		background: url(../images/header.png);
	}
	
	body {
		background-color: lightblue;
	}
}

header h1 {
	color: black;
}

/* Le pied de page (qui se trouve tout en bas, en général pour les copyrights) */
footer {
	background: #000 url(../images/footer.png) left bottom;
	background-size: cover;
}

footer p {
	color: black;
}

.error {
	color: red;
}

.error h2 {
	color: #990000;
	background: inherit;
}

.success {
	color: green;
}

.warning {
	color: orange;
}

.success h2 {
	color: #7BA813;
	background: inherit;
}

form {
    background-color: #e1e4e7;
	border: 1px solid #7e9bae;
	border-radius: 4px;
	padding: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form textarea,
form select {
    background-color: white;
}