.doc-thumbnail {
    padding: 0.25rem;
    background-color: #f8fafc;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    width: 60px;
    max-width: 100%;
    height: auto;
}

.operations tr.compte  {
    background-color: #e9a45a;
}

.first_row {
    font-weight: bold;
    font-size: 1.1em;
    color: #d4dbcf;
    background-color: rgb(5, 136, 5);
}

.first_row th {
    font-weight: bold;
    font-size: 1.1em;
    color: #d4dbcf;
}

.first_row .DataTables_sort_wrapper {
    font-weight: bold;
    color: #d4dbcf;

}